.elementsonCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonLarge{
    width: 150px;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #7f8183; /* Blue */
    border-radius: 100%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    float: inline-start;
    display: none;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 55%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Context Menu */
#contextMenu{
  position: absolute;
  display: none;
  top: 10px;
  left : 100px;
  width: 190px;
  height: 50px;
  background-color: rgba(222, 223, 246, 0.9);
  padding: 0px;
}

#contextMenu-hide{
  display: none;
}

.itemMenuCont{
  width: 190px;
  cursor: pointer;
}

.itemMenuCont > li:hover{
  background-color: rgba(34, 75, 240, 0.7);
}

#contextMenu > div > ul{
  list-style: none;
  padding: 0px;
}

