#individualCiclo input{
    width: 90px;
    height: 20;
}

.boxCaompoVisu{
    margin-top: 20px;
    margin-bottom: 10px;

}

#divBtnRastrear{
    margin-left: 30px;
    margin-top: 30px;
    float: right;
}
.divInputRast{
    float : right;
    margin-top: 10px;
}
.inputRastrear{
    width: 100px;
}
#divInputsRastrear{
    margin-top: 20px;
    float: right;
}

#divAgenteRastrear{
    margin-top: 30px;
    float: left;
}

#resDadosRastreamento{
    margin-top: 180px;
}

#divMapaRastrear{
    height: 500px;
    width: 80%;
    display: block;
    border: 2px solid rgba(114, 112, 112 , .5);
    border-radius: 4px;
}
 #divsSeletorCicloRastrear{
     margin-top: 20px;
     padding: 10px;
 }

 #nCicloRastreamento{
     font-size: 25px;
 }
 /* Play Rastreamento*/

 #menuPlayRastreamento{
    width: 18%;
    margin-right: 0px;
    position: absolute;
    right: 0px;
    top: 100px;
    right: 10px;
    display: block;
 }

 /* ============= input swittch personalizado ============ */

.checkCustom{
	height: 0;
	width: 0;
	visibility: hidden;
}

.boxCheckCustom{
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	border-radius: 100px;
    position: relative;
    margin-bottom: -5px;
}

.boxCheckCustom:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.1s;
}

#menuPlayRastreamento input:checked + label {
	background: #2196F3;
}

#menuPlayRastreamento input:checked + .boxCheckCustom:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.boxCheckCustom:active:after {
	width: 23px;
}
  /* ============================================ */

.containerCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

#mapasRastrear{
    width: 100%;
    height : 100%;
}