.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
  }
  
  @media (min-width: 768px) {
    [role="main"] {
      padding-top: 48px; /* Space for fixed navbar */
    }
  }
  
/* Tabelas */

.divTabela{
  
  height: 600px;
  border : 1px solid rgba(59, 58, 58, .4);
  display: block;
  overflow: scroll;
  margin: 30px;
  padding: 10px;
}

.inputTabela{
  width: 60px;
}
.tabelas-n{
  margin-left: -20%;
}
.corpoTabela{
  margin-left: -20%;
  margin-bottom: 10%;
  width: 850px;
}
.corpoTabelaAmbiental{
  margin-left: -20%;
  margin-bottom: 10%;
  width: 482px;
  max-height: 485px;
}

.box-tabela{
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 30px;
}

.mid-div{
  min-width: 48%;
  float: left;
}

.seletor{
  margin-right: 3%;
}

#button-simulacao-upload{
  position: absolute;
  top: 120px;
}
#nome-arquivo-upload{
  width: 300px;
}

.SimulA{
  height: 50px;
  width: 100%;
  border-bottom: 0.5px solid gray;
  border-top: 0.5px solid gray;
  margin-bottom: 5px;
  padding: 1px;
}

.StatusSimulAt{
  color: rgb(85, 83, 83);
  font-size: 12px;
  float: right;
  margin-right: 5px;
}