/*barra superior*/
#CabecalhoMapa {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 1);
    height: 70px;
    width: 100%;
    border-top: -90px;
}
.box {
    padding: 20px;
    display: grid;
}
.stIndividuo{
    width: 300px;
    height: 80px;
    background-repeat: no-repeat
}

/*box-mapa*/
#mapa {
    margin-left: 220px;
    margin-top:-16px;
    display: block;
    border: 2px solid rgba(114, 112, 112 , .5);
    border-radius: 4px;
}

/*barra lateral das layers visualizadas*/
.Layerstack {
    top: 160px;
    left: 1%;
    width: 218px;
    height: 78%;
    position: absolute;
    box-shadow: 0px 0px 5px 0.5px;
}

/*box que contem os icones das layers visualizadas*/
.listaMapas {
    margin-left: -41px;
    width: 258px;
}

/*icone da layer visualizada*/
.itemMapa {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 3px;
}

/*checkbox de visualização no icone da layer*/
.checkboxitemmapa {
    margin-left: 30px;
}

/*nome no icone da layer*/
.nomeLayer{
    max-width: 60%;
    min-width: 60%;
    overflow: hidden;
}

/*legenda layer*/
.titulo {
    font-size: 20px;
    position: absolute;
    margin-left: 20px;
    top: 130px;
}
/*botão opções*/
.btnopc {
    float: right;
    display: block;
}
/*modal opções*/
.menuopcoes {
    list-style: none;
    margin-left: -35px;
}
/*coordenadas opções*/
#mouse-position{
    position: absolute;
    left: 250px;
    top: 130px;
}
/*item do menu principal*/
.menuopcoesitens {
    align-items: center;
    justify-content: center;
    min-height: 80px;
    display: flex;
    padding: 0.2 px;
    font-size: 20px;
    color: black;
    border-bottom: 0.5px dotted black;
}
.menuopcoesitens:hover {
    background-color: rgb(183, 185, 187);
    text-decoration: none;
}
#mapas {
    width: 100%;
    height: 100%;
}
/*box que controla a view da simulação*/
.playSimulacao{
    max-width: 15%;
    max-height: 20%;
    min-width: 13%;
    min-height: 9%;
    position: absolute;
    left: 45%;
    right: auto;
}
#cicloTotal{
    border: 0;
    width: 20%;
}
#cicloAtual{
    border: 0;
    width: 20%;
}
#simulacaoAtual:hover{
    border : 1px solid grey;
    border-radius: 7px;
}
.boxflex{
    display: flex;
}
.boxblock{
    display: block;
}
/*selects do menu de filtros*/
#individuosSelecionados{
    min-width: 30%;
}
#selectIndividuos{
    min-width: 50%;
}

/* LIRAa */
#boxCarregarLira{
    padding-top: 15%;
}