
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 d-none d-md-block bg-light sidebar navbarTopContent" >
            <div class="sidebar-sticky" style="height: 100%;">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#individualMosquitos" role="tab" aria-controls="simulacao" aria-selected="true">Mosquitos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#individualhumanos" role="tab" aria-controls="visualizacao" aria-selected="false">Humanos</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="individualMosquitos" role="tabpanel" aria-labelledby="home-tab">
                        <div id="individualCicloMosquitos" class="boxCaompoVisu">
                            Ciclo
                            <input id="inputCicloBuscarMosquitos" type="number" class="form-control" min="0">
                        </div>
                        <div id="individualFiltrosMosquitos" class="boxCaompoVisu">
                            Filtros
                            <div id="divTabelaFiltrosMosquitos"></div>
                        </div>
                        <div class="boxCaompoVisu">
                            Atributos
                            <div id="divTabelaAtributosMosquitos"></div>
                        </div>
                        <div id="btnEnviaAtributosMosquitos" class="boxCaompoVisu">
                            <button id="btnBuscarMosquitos" type="button" style="float:right;" class="btn btn-primary">Buscar</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="individualhumanos" role="tabpanel" aria-labelledby="profile-tab">
                        <div id="individualCicloHumanos" class="boxCaompoVisu">
                            Ciclo
                            <input id="inputCicloBuscarHumanos" type="number" class="form-control" min="0">
                        </div>
                        <div id="individualFiltrosHumanos" class="boxCaompoVisu">
                            Filtros
                            <div id="divTabelaFiltrosHumanos"></div>
                        </div>
                        <div class="boxCaompoVisu">
                            Atributos
                            <div id="divTabelaAtributosHumanos"></div>
                        </div>
                        <div id="btnEnviaAtributosHumanos" class="boxCaompoVisu">
                            <button id="btnBuscarhumanos" type="button" style="float:right;" class="btn btn-primary">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div style="width: 70%; heigth: 100%;">
                <div id="divTabelaRes"></div>
        </div>    
    </div>
</div>
<script src="../app/controllers/IndividualLoadParametos.js"></script>
<script src="../app/controllers/IndividualControllBusca.js"></script>
<script>
        viewAtributos();
</script>
