
<link rel="stylesheet" href="_css/individual.css">

<div id="nav">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#individualAgentes" role="tab" aria-controls="simulacao" aria-selected="true">Buscar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="rastrear-tab" data-toggle="tab" href="#individualVisualizacao" role="tab" aria-controls="visualizacao" aria-selected="false">Rastrear</a>
        </li>
    </ul>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="individualAgentes" role="tabpanel" aria-labelledby="home-tab">...</div>
    <div class="tab-pane fade" id="individualVisualizacao" role="tabpanel" aria-labelledby="profile-tab">...</div>
</div>
<script>
    $("#individualAgentes").load("individualAgentes.html");
    $("#individualVisualizacao").load("individualVisualizacao.html");
</script>

