
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 d-none d-md-block bg-light sidebar navbarTopContent" >
            <div class="sidebar-sticky" style="height: calc(100vh - 95px); width:100%;">
                <h5>Rastrear Agente</h5>
                <hr>
                <div style="display:flexbox;">
                <div id="entradasRastrear">
                    <div id="divAgenteRastrear">
                        <input id="inputHumanoRastrear" type="radio" name="agenteRastrear" value="Humano">
                        <label for="inputHumanoRastrear">Humano</label> <br><br>

                        <input id="inputMosquitoRastrear" type="radio" name="agenteRastrear" value="Mosquito">
                        <label for="inputMosquitoRastrear">Mosquito</label>
                    </div>
                    <div id="divInputsRastrear">
                        <div class="divInputRast">
                            <label for="inputIdRastrear">Id</label>
                            <input id="inputIdRastrear" type="text" class="inputRastrear">
                        </div>
                        <br>
                        <div class="divInputRast">
                            <label for="inputCicloRastrear">Ciclo</label>
                            <input id="inputCicloRastrear" type="number" min="0" class="inputRastrear">
                        </div>
                    </div>
                </div>
                <div id="divBtnRastrear">
                    <button id="btnRastrear" class="btn btn-primary">Rastrear</button>
                </div>
                <br>
                <div id="resDadosRastreamento">
                    <hr>
                    <div style="width:300px;">
                        <span id="nCicloRastreamento" >Ciclo</span>
                        <div id="tabelaAtributosAgenteRastrear"></div>
                    </div>
                </div> 
            </div>
            </div>
        </nav>
        <script type="text/javascript" src="../app/controllers/IndividualControllMapRastrear.js"></script>
        <div style="width: 70%; height :100%;">
            <div id="divBoxMapaRastrear">
                <div id="divMapaRastrear" class="map" tabindex="0"></div>
            </div>
            <div id="menuPlayRastreamento">
                <div class="containerCenter">
                    <button  id="btnOpcoesRastreamento" class="btn btn-secondary" type="button" data-toggle="modal" data-target="#opcoesIndividualRastrear">
                        <span style="display:block; float:right; ">Opções</span>    
                    </button>
                </div>
                <hr>
                <label>
                    <input type="checkbox" id="btnMantemPontosRastrear" class="checkCustom"/>
                    <label for="btnMantemPontosRastrear" class="boxCheckCustom"></label>
                    Manter pontos
                </label> <br>
                <label>
                    <input type="checkbox" id="btnTracarCaminho" class="checkCustom"/>
                    <label for="btnTracarCaminho" class="boxCheckCustom"></label>
                    Traçar Caminho 
                </label> <br>
                <label>
                    <input type="checkbox" id="btnZoomPosAtual" class="checkCustom"/>
                    <label for="btnZoomPosAtual" class="boxCheckCustom"></label>
                    Aproximar Atual 
                </label><br>
                <label>
                    <input type="checkbox" id="btnOsmRastrear" class="checkCustom"/>
                    <label for="btnOsmRastrear" class="boxCheckCustom"></label>
                    Open Street Maps <br>
                </label><hr>
                <div class="containerCenter">
                    <div>
                        <label>
                            Ir Para 
                            <input  id="inputJumpCiclo"  type="number" style="width:100px; height: 35px; margin-left: 10px;">
                        </label>
                        <button id="btnIrJumpCiclo" class="btn btn-outline-success">Ir</button>
                    </div>
                </div>
                <hr>
                <div class="containerCenter">
                    <div>
                        <h6>Reproduzir</h6>
                        <button id="btnPlayRastreamento" class="btn btn-sm btn-success"><i class="material-icons">play_arrow</i></button>
                        <button id="btnPauseRastreamento" class="btn btn-sm btn-danger"><i class="material-icons">pause</i></button>
                    </div>
                </div>
            </div>
            <div id="divsSeletorCicloRastrear">
                <h5><span id="cicloAtualLegendaRastrear">Ciclo Atual</span></h5> 
                <input id="seletorCicloRastrear" value="0" type="range" class="custom-range" min="0" max="365">
            </div>
        </div>    
    </div>
</div>
<script src="../app/controllers/IndividualControllRastrear.js"></script>
<script> LoadMapsFromDb(mapasRastrear) </script>

<!----------------------------modais------------------------------------------>
<div class="modal fade" id="opcoesIndividualRastrear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Opções - Rastrear</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <ul class="menuopcoes" style="width: 100%;">
                    <a href="">
                        <li class="menuopcoesitens menu-right" data-dismiss="modal" data-toggle="modal" data-target="#carregashpRastrear"><span>Carregar Shape do Banco</span></li>
                    </a>
                    <a href="">
                        <li class="menuopcoesitens menu-right" data-dismiss="modal" onclick="removeShapes()"><span>Remover Shapes</span></li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="carregashpRastrear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Carregar shape do banco</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <select multiple name="Mapas" id="mapasRastrear" size="20">
                    <option value="" selected>--</option>
                </select>
                <div class="elementsonCenter">
                    <button class="btn btn-success buttonLarge" onclick="AdcLayerRastrear()" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>