
<link type="text/css" href="_css/visualizacao.css" rel="stylesheet">
<link rel="stylesheet" href="_css/editaEstilos.css">
<script type="text/javascript" src="../app/controllers/VisualizacaoToolBar.Menu.js"></script>
<script src="../app/controllers/VisualizacaoSimulacao.CarregaTabelas.js"></script>
<script src="../app/libs/TinyColor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
<script src="../app/libs/jszip.min.js"></script>

<div class="box">
    <!--Barra de ferramentas do topo do mapa-->
    <div id="CabecalhoMapa">
        <div class = "playSimulacao">
            <input type="button" class="btn" id="PrevCiclo" value="<<" onclick="PrevCiclo()">
            <input type="text" id="cicloAtual" value="0" maxlength="3" style="text-align: center;" onchange="atualizaCiclo();" readonly>
            |
            <input type="text" id="cicloTotal" value="0" style="text-align: center;" readonly>
            <input type="button" class="btn" id="ProximoCiclo" value=">>" onclick="NextCiclo()"> 
        </div>            

        <button type="button" class="btn btn-primary btnopc" data-toggle="modal" id="btn-opcoes"data-target="#opcoes">Opções</button>
        <button type="button" class="btn btn-secondary btnopc" data-toggle="modal" data-target="#selecionaIndividuos" style="display:none; margin-right: 30px;" id="filtro">Filtro</button>
    </div>

    <!--visualização do mapa-->
    <div id="mapa">
        <div  id="map" class="map" tabindex="0"></div>
    </div>

    <!--barra lateral que mostra layers do mapa-->
    <span class="titulo">Shapes</span>
    <div class="Layerstack" id="LayerStack">
        <ul class="listaMapas" id="listaMapas"></ul>
    </div>
    <div id="mouse-position"></div>
    <div id="loader" class="loader"></div>
</div>

<!----------------------------modais------------------------------------------>
<!-- Menu Principal-->                
<div class="modal fade" id="opcoes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Opções</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <ul class="menuopcoes" style="width: 100%;">
                    <a href="">
                        <li class="menuopcoesitens" data-toggle="modal" data-target="#carregashp" data-dismiss="modal"><span>Carregar shape do banco</span></li>
                    </a>
                    <a href="#">
                        <li class="menuopcoesitens"  data-toggle="modal" data-target="#liramenup" data-dismiss="modal"><span>LIRAa</span></li>
                    </a>
                    <a href="#">
                        <li class="menuopcoesitens" onclick="AdicionaOSM()" data-dismiss="modal"><span>Adicionar OSM</span></li>
                    </a>
                    <a href="">
                        <li class="menuopcoesitens" data-toggle="modal" data-target="#carregaArquivo" data-dismiss="modal"><span>Carregar Arquivo</span></li>
                    </a>
                    <a href="">
                        <li class="menuopcoesitens" data-toggle="modal" data-target="#carregaSimulacoes" data-dismiss="modal"><span>Carregar Simulação</span></li>
                    </a>
                    <a href="#">
                        <li class="menuopcoesitens" data-toggle="modal" data-target="#GerarImagens" onclick="" data-dismiss="modal"><span>Gerar Imagens</span></li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- LIRAa-->
<div class="modal fade" id="liramenup" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">LIRAa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="box">
                    <div id="seletor-nova" class="mid-div menu-right seletor">
                        <div class="elementsonCenter" id="boxCarregarLira">
                            <button class="btn btn-secondary" data-toggle="modal" data-target="#carregamentoLira" data-dismiss="modal">Carregar em um shape</button>
                        </div>
                    </div>
                    <div id="visualizador" class="mid-div">
                        <h5>Graus de risco</h5>
                        Satisfatorio <input type="color" id="liraaCorSatisfatorio"> <br>
                        Alerta       <input type="color" id="liraaCorAlerta"> <br>   
                        Risco        <input type="color" id="liraaCorRisco"> <br>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!--carregamento LIRAa-->
<div class="modal fade" id="carregamentoLira" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecionar Lira</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="elementsonCenter">
                    <select style= "width: 100%" multiple name="liraaTabelas" id="selectTabelasLiraa" size="20">
                        <option value="" selected>--</option>
                    </select>
                </div>
                <hr>
                <div class="elementsonCenter">
                    <button class="btn btn-success buttonLarge" onclick="pegaInformacoesTabela()" data-dismiss="modal">Ok</button>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!--final LIRAa-->
<div class="modal fade" id="selecaolira" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecionar Lira</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <h7> <span id="legendaLiraAtual"></span></h7>
                <hr>
                <div>
                    Selecionar Coluna
                    <select class="custom-select" id="selectColunaTabelaLiraa"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="pegaInformacoesColunaAtual()" data-dismiss="modal">Carregar</button>
            </div>
        </div>
    </div>
</div>

<!--carregamento MapaLIRAa-->
<div class="modal fade" id="carregamentoMapaLira"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecionar Mapa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <select  style= "width: 100%" name="liraaTabelas" id="selectMapasLiraa" size="20">
                    <option value="" selected>--</option>
                </select>
                <hr>
                <div class="elementsonCenter">
                    <button class="btn btn-success buttonLarge" onclick="pegaInformacoesMapa()" data-dismiss="modal">Ok</button>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!-- Carregar shape Banco-->
<div class="modal fade" id="carregashp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Carregar shape do banco</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <select multiple name="Mapas" id="mapas" size="20">
                    <option value="" selected>--</option>
                </select>
                <div class="elementsonCenter">
                    <button class="btn btn-success buttonLarge" onclick="AdcLayer()" data-dismiss="modal">Ok</button>
                </div>
            </div>
            <div class="modal-footer"></div> 
        </div>
    </div>
</div>

<!-- Upload Arquivo -->
<div class="modal fade" id="carregaArquivo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Carregar Arquivo</h5>
            </div>
            <div class="modal-body">
                <form>
                    <input type="file" name="image" class="image" required>
                    <input type="submit" name="submit" class="submit" value="Submit" data-target="#carregaArquivo" data-toggle="modal" data-dismiss="modal">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Carregar Simulação -->
<div class="modal fade" id="carregaSimulacoes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Carregar Simulações</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <select multiple name="Simulacoes" id="simulacoes" size="20" style="width: 100%;">
                    <option value="" selected>--</option>
                </select>
                <div class="elementsonCenter">
                    <button class="btn btn-success buttonLarge" onclick="selectSimulacao()" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Filtro de Individuos -->
<div class="modal fade bd-example-modal-lg" id="selecionaIndividuos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecionar Individuos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">

                <div class="boxflex" style=" margin-right: 5%; width: 130%;">
                    <div class="boxblock">
                        Individuos
                        <select name="individuos"  id="selectIndividuos" multiple onchange="" size="6" style="width: 100%;">
                        </select>
                    </div>

                    <div class="boxblock" style=" margin-left: 5%;">
                        Individuos Selecionados
                        <select style="display: flex; min-width:200px ;" name="individuos" id="individuosSelecionados" multiple onchange="" size="6" style="width: 100%;">
                        </select>
                    </div>
                </div>

            </div>
            <button type="button" class="btn btn-primary btnopc"  data-dismiss="modal" onclick="selecionaIndividuos()" >Selecionar</button>
        </div>
    </div>
</div>

<!-- Edição de estilo do mapa -->
<div class="modal fade" id="styleEditaMapas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecionar Individuos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">  
            <div id="mapinha" style="width: 500px; height: 300px; display : inline-block;" class="mapinha"></div>

            Bordas: <br>
            Cor: <br>
            <input type="color" id="colorStroke" onchange="atStyle()">
        
            <br>Largura: <br>
            <input type="range" id="sizeStroke" min="0" max="20" onchange="atStyle()">
        
            <br><br><br> Preenchimento:
            <br>Cor: <br>
            <input type="color" id="colorFill" onchange="atStyle()">
            
            <br>Opacidade: <br>
            <input type="range" id="opaciFill" min="0" max="10" onchange="atStyle()">

            </div>
            <button type="button" class="btn btn-primary btnopc"  data-dismiss="modal" onclick="salvaStyle()" >Selecionar</button>
        </div>
    </div>
</div> 

<!-- Edição de estilo de pontos -->
<div class="modal fade" id="styleEditaMapas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecionar Individuos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">  
            <div id="mapinhaPontos" style="width: 500px; height: 300px; display : inline-block;" class="mapinha"></div>

            Bordas: <br>
            Cor: <br>
            <input type="color" id="colorStroke" onchange="atStyle()">
        
            <br>Largura: <br>
            <input type="range" id="sizeStroke" min="0" max="20" onchange="atStyle()">
        
            <br><br><br> Preenchimento:
            <br>Cor: <br>
            <input type="color" id="colorFill" onchange="atStyle()">
            
            <br>Opacidade: <br>
            <input type="range" id="opaciFill" min="0" max="10" onchange="atStyle()">

            </div>
            <button type="button" class="btn btn-primary btnopc"  data-dismiss="modal" onclick="salvaStyle()" >Selecionar</button>
        </div>
    </div>
</div> 

<!-- Edição estilo simulação -->
<div class="modal fade" id="styleEditaSimulacao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Escala Icones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" style="display:flex; align-items:center; justify-content:center;">
                <input type="range" id="escalaIcone" min="1" max="1500" onchange="editaEstiloSimulacao()">
            </div>
        </div>
    </div>
</div>

<!-- menu geração de imagens -->
<div class="modal fade" id="GerarImagens" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gerar Imagens</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" style="display:flex; align-items:center; justify-content:center;">
                <input type="number" min="1" max = "366" id="inicioImagens">
                <input type="number" min="1" max = "366" id="fimImagens">

                <br>

                <button class="btn btn-success" onclick="tiraPrint()">Gerar</button>
            </div>
        </div>
    </div>
</div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<script type="text/javascript" src="../app/controllers/VisualizacaoToolBar.Menu.js"></script>
<script type="text/javascript" src="../app/controllers/VisualizacaoMapa.Atualiza.js"></script>
<script type="text/javascript" src="../app/controllers/VisualizacaoToolBar.Menu.js"></script>
<script type="text/javascript" src="../app/controllers/VisualizacaoMapa.Carrega.js "></script>
<script type="text/javascript" src="../app/controllers/VisualizacaoSimulacao.Carrega.js"></script>
<script type="text/javascript" src="../app/controllers/VisualizacaoMapa.EditarEstilo.js"></script>
<script type="text/javascript" src="../app/controllers/VisualizacaoSimulacao.EditaEstilo.js"></script>
<script>loadIndividuos();loadselectSimulacoes(); LoadMapsFromDb(listaVisualizacao); loadSelectIndividuosSelecionados();</script>
<script type="text/javascript" src="../app/controllers/VisualizacaoToolBar.LayerStack.js"></script>
<script type="text/javascript" src="../app/controllers/VisualizacaoAgentesRel.js"></script>
<script type="text/javascript" src="../app/controllers/VisualizacaoMapaLiraa.js"></script>

