<div class="elementsonCenter">
    <div style="display:inline">
        <img style="width: 500px; margin-top: 20px;" src="../imagens/logo.png" alt="SIMULA">
        <br><br>
        <strong style="height: 100%"> Equipe de concepção e desenvolvimento do SIMULA:</strong> <br>
        <div style="padding-left:30px; padding-top: 10px;">
            Rogério Luis Rizzi <br>
            Claudia Brandelero Rizzi <br>
            Wesley Luciano Kaizer <br>
            Matheus Nunes Ismael <br>
        </div>
    </div>
</div>