<main role="main" class="col-md-9 ml-sm-auto col-lg-10 nav-pills ">
    <nav style="margin-top:-50px;">
        <div class="nav nav-tabs tabelas-n" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="0-INI-tabS" data-toggle="tab" href="#simulacao-0-INI" role="tab" aria-controls="0-INI" aria-selected="true">0-INI</a>
        </div>
    </nav>
    <div class="tab-content box-tabela" id="nav-tabContent">
        <div class="tab-pane fade show active corpoTabela" id="simulacao-0-SIM" role="tabpanel" aria-labelledby="nav-home-tab"></div>
    </div>
</main>   
